.color-hover {
  height: 20px;
  width: 75px;
  background-color: blue;
}
.note {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: blueviolet;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(228, 18, 18);
  border-radius: 50%;
  display: inline-block;
}

/* .bg-warging {
  background-color: orange;
  height: 150px;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.list-group {
  background-color: rgb(14, 13, 13);
}
.list-group-item {
  color: antiquewhite;
  text-align: left;
}
.float-right {
  float: right;
}
.but {
  text-align: center;
}*/

.section3 {
  background-color: rgb(78, 85, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-radius: 10px;
}
.cost {
  float: right;
}
