.color-hover {
  height: 20px;
  width: 75px;
  background-color: blue;
}
.note {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: blueviolet;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(228, 18, 18);
  border-radius: 50%;
  display: inline-block;
}
